PL_MVC/Connected Services/CrudServicios/Usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Usuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51137/Usuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51137/Usuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51137/Usuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ML" />
      <xsd:import schemaLocation="http://localhost:51137/Usuario.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51137/Usuario.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SL_WCF" />
      <xsd:import schemaLocation="http://localhost:51137/Usuario.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuario_AddUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuario_AddUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_DeleteUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuario_DeleteUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_UpdateUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuario_UpdateUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetByIdUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetByIdUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetAllUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetAllUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuario">
    <wsdl:operation name="AddUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/AddUsuario" message="tns:IUsuario_AddUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/AddUsuarioResponse" message="tns:IUsuario_AddUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/DeleteUsuario" message="tns:IUsuario_DeleteUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/DeleteUsuarioResponse" message="tns:IUsuario_DeleteUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/UpdateUsuario" message="tns:IUsuario_UpdateUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/UpdateUsuarioResponse" message="tns:IUsuario_UpdateUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIdUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/GetByIdUsuario" message="tns:IUsuario_GetByIdUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/GetByIdUsuarioResponse" message="tns:IUsuario_GetByIdUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/GetAllUsuario" message="tns:IUsuario_GetAllUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/GetAllUsuarioResponse" message="tns:IUsuario_GetAllUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuario" type="tns:IUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuario/AddUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuario/DeleteUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuario/UpdateUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIdUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuario/GetByIdUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuario/GetAllUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuario">
    <wsdl:port name="BasicHttpBinding_IUsuario" binding="tns:BasicHttpBinding_IUsuario">
      <soap:address location="http://localhost:51137/Usuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>